.navbar-nav.d-flex {                /*alinear lenguajes a la derecha y centrados vertical*/
    flex-direction: row-reverse;
    align-items: center;
    background-color: black;
}
.navbar-nav li:last-child {
    margin-left: 0.5rem;
}
.navbar-nav li {
    margin: 0 1rem;
}
.navbar-nav li a {
    color: white;
}                                   /*los 3 últimos codigos son para los margenes de español e ingles*/

.navbar {                               /*ajustes al navbar*/
    background-color: #0170a4;
}
.navbar-brand {
    color: white;               /*Color del texto*/
    text-align: center;
}
.navbar-brand img {
    margin-right: 10px;
}
.btn {
    background-color: #ffb304;  /* Color del boton buscar */
}

#table-container {                                   /*ajustes a la tabla*/
    max-height: 550px; /* o la altura máxima que quieras darle */
    overflow: auto;
}
#myTable img {
    width: 15%;
    height: auto;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    text-align: center;
    border: 1px solid black;
    padding: 1px;
}
  
th {
    background-color: #04AA6D;
    color: white;
}

/* Estilos para los formularios */
.form-container{
    width: 98%;
    margin: auto;
    margin-top: 4%;
    margin-bottom: 2%;
    background-color: #0170a4;
    padding: 4%;
    color: white;
}
.titulointerno{
    margin-bottom: 5%;
    color: white;
}
#inputcomentario{
    margin: auto;
    width: 80%;
}

/*CSS footer*/
  
footer h4 {
    font-weight: bold;
}
.textf {
    text-align: right;
    padding-right: 2%;
}

/*CSS Ventana Modal*/
.modal {
    width: 500px;
    display: flex;
    align-items: center;
    background-color: white;
}
.modal-content {
    width: 300px;
    height: 400px;
    background-color: #431472;
    border-radius: 10px;
    color: aliceblue;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
/*.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;}*/
.card-img-top {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}
.close {
    position: absolute;
    top: 10px;
    right: 10px;
}