body {
    width: 100%;
    margin: 0;
    padding: 0;
}

.navbar-nav li a {                  /*color registrate y comenta*/
    color: white;
}                                 
.navbar {                               /*ajustes al navbar*/
    background-color: #142a3a;
}
.navbar-brand {
    color: white;               /*Color del texto*/
    text-align: center;
}
.navbar-brand img {
    margin-right: 10px;
}
#btn-group {
    background-color: #04AA6D;
}

/*CSS footer*/
footer h4 {
    font-weight: bold;
}
.textf {
    text-align: right;
    padding-right: 2%;
}
/*Responsividad Footer*/
@media (max-width: 767.9px) {
    .textf {
      display: none;
    }
    #footerimg {
      margin-left: 15%;
    }
}

/*CSS imagenes*/
.list_digimons {
    background-color: #04addc;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    gap: 2em;
    padding: 1em;
    text-align: center;
}
.digimon_img{
    border: 1px solid #ccc;
    width: 100%;
    border-radius: 3px;
    margin-top: 8em;
    color: #fff;
    padding: 0.5em;
}
.digimon_img img {
    height: 200px;
    width: 100%;
    margin-top: -5em;
}

/*CSS buttons*/
.parent-container {
    width: 100%;
}
.button {
    background-color: #04addc;
    display: inline-block;
}
#buttons {
    width: 100%;
    height: 100px; /* Ajusta la altura del contenedor según sea necesario */
}
  
.botones {
    padding: 0;
    cursor: pointer;
    margin-top: 20%;
    margin: 0 10px; /* Agrega margen horizontal entre los botones */
}
  
#prevPage {
    border: 1px  black;
}
  
#nextPage {
    border: 1px  black;
}
  


/*.btn:hover, .close:hover {           aumenta tamaño de botones
    transform: scale(1.5);
}*/
/*Responsividad Formularios
@media (max-width: 991.98px) {
    .ocultoa, .ocultob {
      display: none;
}}*/